**/.spyproject
**/.ipynb_checkpoints
**/__pycache__
**/*.cmd
**/*.o
**/*.obj
**/*.so
**/*.pyd
**/*.stpl
**/.vscode
**/build
/examples/**/numenv
/examples/**/*.stpl
/examples/**/csv_files
/examples/**/results
/examples/**/config_inputs
/smbd/numenv/cpp_eigen/numerics/tests
/tests

build
dist
# Egg metadata
*.egg-info
