**/.spyproject
**/.ipynb_checkpoints
**/__pycache__
**/*.cmd
**/*.o
**/*.stpl
**/*.vscode
/examples/**/*.stpl
/examples/**/csv_files
/examples/**/results
/examples/**/numenv
/smbd/numenv/cpp_eigen/numerics/tests
/tests
